<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    #map,
    #wrapper,
    #page-content-wrapper {
      height: 100%;
      width: 100%;
    }
    .container-fluid,
    .row,
    .col-lg-12 {
      height: 100%;
      width: 100%;
    }
    }
    /* hamburger menu pseudo element */

    .box-shadow-menu {
      position: relative;
      padding-left: 1.25em;
    }
    .box-shadow-menu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: black;
      box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
    }
    /* hamburger menu pseudo element gradient */

    .gradient-menu {
      padding-left: 1.25em;
      position: relative;
    }
    .gradient-menu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.21em;
      bottom: 0.21em;
      width: 1em;
      background: linear-gradient(to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%);
    }
    /* http://www.jqueryscript.net/demo/Bootstrap-Sidebar-Extension-With-jQuery-CSS-CSS3/ */

    /*!
     * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
     * Code licensed under the Apache License v2.0.
     * For details, see http://www.apache.org/licenses/LICENSE-2.0.
     */

    /* Toggle Styles */

    .nav-tabs>li {
      float: none;
    }
    .nav-tabs {
      border-bottom: 0;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      margin: 0;
      border-radius: 0;
    }
    #wrapper {
      padding-left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background: #000;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
    }
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
    /* Sidebar Styles */

    .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .sidebar-nav li {
      text-indent: 20px;
      line-height: 40px;
    }
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #999999;
    }
    .sidebar-nav li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
    }
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
      text-decoration: none;
      /*display: inline-block;*/
    }
    .sidebar-nav > .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
    }
    .sidebar-nav > .sidebar-brand a {
      color: #999999;
    }
    .sidebar-nav > .sidebar-brand a:hover {
      color: #fff;
      background: none;
    }
    @media(min-width:768px) {
      #wrapper {
        padding-left: 250px;
      }
      #wrapper.toggled {
        padding-left: 0;
      }
      #sidebar-wrapper {
        width: 250px;
      }
      #wrapper.toggled #sidebar-wrapper {
        width: 0;
      }
      #page-content-wrapper {
        padding: 20px;
        position: relative;
      }
      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
    ul {
    text-align: left;
    /*display:inline-block;*/
    /*box-sizing:border-box;*/
    /*padding-left: 5px;*/
    }
    .ulleft {
        display: inline;
        float: left;
    }
    .ulright {
        display: inline;
        float: right;
    }
    </style>


</head>

<body>
    <div class="container">
        <h1>Network Performance Map: Noisy Zone</h1>
        <!-- <p>my test value is:
        <script type="text/javascript">
        var test = localStorage.getItem('myFirstKey');
        document.write(test);
        </script>
        </p> -->
        <!-- <div id="nameInput" class="input-group-lg center-block helloInput">
            <p class="lead">What is your name?</p>
            <input id="user_name" type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" value="" />
        </div>
        <p id="response" class="lead text-center"></p>

        <p id="databaseNames" class="lead text-center"></p> -->
    </div>
    <div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" id="side_bar">
      <li class="sidebar-brand" style="font-weight: bold; color: #FFFFFF;">
        <h1>Summary</h1>

      </li>
      <hr>
      <div id="demo" class="collapse"></div>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>
        <a href="#menu-toggle" class="gradient-menu" id="menu-toggle"></a>
          <!-- &nbsp;Network Map&nbsp;a href="#menu-toggle" class="btn btn-default" >Toggle Sidebar</a -->
          </h1>
          <!-- you can use tables or divs for the overall layout -->
          <div id="map"></div>
          <!-- <h1>Simple Sidebar</h1> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="antixss.js" type="text/javascript"></script>

    <script>
    	//Submit data when enter key is pressed
        $('#user_name').keydown(function(e) {
        	var name = $('#user_name').val();
            if (e.which == 13 && name.length > 0) { //catch Enter key
            	//POST request to API to create a new visitor entry in the database
                $.ajax({
				  method: "POST",
				  url: "./api/visitorsss",
				  contentType: "application/json",
				  data: JSON.stringify({name: name })
				})
                .done(function(data) {
                    $('#response').html(AntiXSS.sanitizeInput(data));
                    $('#nameInput').hide();
                    getNames();
                });
            }
        });


        //Retreive all the visitors from the database
        var data_test = [];
        function getNames(){
          $.get("./api/visitorsss")
              .done(function(data) {
                // alert(data[1][0]);
                for(var i=0;i<data.length;i++){
                    data_test[i] = data[i];
                }
                  if(data.length > 0) {
                    data.forEach(function(element, index) {
                      data[index] = AntiXSS.sanitizeInput(element)
                    });
                    // $('#databaseNames').html("Database contents: " + JSON.stringify(data));
                    // for(var i=0;i<data.length;i++){
                    //     data_test.push(data[i]);
                    // }
                    // data_test = data;
                    // alert(JSON.stringify(data[1][0]));
                    // alert(data[3]);
                    // alert(data_test[20]);
                  }
              });
          }

          //Call getNames on page load.
          getNames();
          // alert(data_test[1]);


    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <!-- <script src="/home/ubuntu/Documents/get-started-node/server.js" type="text/javascript"></script> -->


    <!-- <div id="map"></div> -->
    <div id="legend"><h3>Status</h3>
    <canvas id="myCanvas" width="150" height="40">
    </div>


    <script>
    var marker;
    var markers = [];
    var sum_network = 0;


      function initMap() {
        // alert(data_test[]);
        // var tools = require('./tools');
        // var result = fetchData();
        // alert(result);

        // while(localStorage.getItem('test') == null){
        //     // alert("local storage : "+localStorage);
        //     // alert("test : "+localStorage.getItem('test'));
        //     var temp = localStorage.getItem('test');
        // }
        // console.log(temp);
        // alert(localStorage);

        var myWrapper = $("#wrapper");
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            myWrapper.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) {
                google.maps.event.trigger(map, 'resize');
            });
        });

        var node1 = new google.maps.LatLng(32.925167, -96.757725);
        var node3 = new google.maps.LatLng(32.92515, -96.75778);
        var node4 = new google.maps.LatLng(32.925150, -96.757650);
        var node5 = new google.maps.LatLng(32.9250795, -96.757841);
        var node6 = new google.maps.LatLng(32.9252, -96.75752);
        var node7 = new google.maps.LatLng(32.925078, -96.75749);
        var node8 = new google.maps.LatLng(32.92540, -96.757743);
        var node9 = new google.maps.LatLng(32.9255, -96.7575);
        var node10 = new google.maps.LatLng(32.9255, -96.7573);
        var node11 = new google.maps.LatLng(32.92519, -96.75780);
        var node12 = new google.maps.LatLng(32.925000, -96.757700);
        var node13 = new google.maps.LatLng(32.925000, -96.757750);
        var node14 = new google.maps.LatLng(32.924790, -96.757800);
        var node15 = new google.maps.LatLng(32.924840, -96.757820);
        var node16 = new google.maps.LatLng(32.924790, -96.75763);
        var node17 = new google.maps.LatLng(32.92483, -96.75758);
        var node18 = new google.maps.LatLng(32.924695, -96.757495);
        var node19 = new google.maps.LatLng(32.924705, -96.757385);
        var node20 = new google.maps.LatLng(32.92481, -96.75758);

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 20,
          center: node1
          // mapTypeControl: true,
          // mapTypeControlOptions: {
          //   style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
          // },
          // navigationControl: true
        });

        google.maps.event.addListener(map, 'click', function() {
            infowindow.close();
            // for(var i=0;i<markers.length;i++){
            //     if(markers[i]){
            //         var li = document.getElementById("newid"+i);
            //         li.style.backgroundColor="#000000";
            //     }
            // }
            // var num = 3;
            // var li = document.getElementById("newid"+3);
            // li.style.backgroundColor="#000000";
            // infoWindow.close();
        });

        var iconBase = 'http://labs.google.com/ridefinder/images/';

        var icons = {
          active: {
            name: 'Active',
            icon: iconBase + 'mm_20_green.png'
          },
          warning: {
            name: 'Warning',
            icon: iconBase + 'mm_20_orange.png'
          },
          critical: {
            name: 'Critical',
            icon: iconBase + 'mm_20_red.png'
          }
        };

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">PER</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
        });
        // var infoWindow = new google.maps.InfoWindow({
        //     content: contentString,
        // });

        addMarker(node1,'1',"active",'0');
        addMarker(node3,'3',"active",'1');
        addMarker(node4,'4',"active",'1');
        addMarker(node5,'5',"active",'3');
        addMarker(node6,'6',"active",'4');
        addMarker(node7,'7',"active",'4');
        addMarker(node8,'8',"active",'1');
        addMarker(node9,'9',"active",'8');
        addMarker(node10,'10',"active",'8');
        addMarker(node11,'11',"active",'1');
        addMarker(node12,'12',"active",'1');
        addMarker(node13,'13',"active",'1');
        addMarker(node14,'14',"active",'12');
        addMarker(node15,'15',"active",'13');
        addMarker(node16,'16',"active",'12');
        addMarker(node17,'17',"active",'13');
        addMarker(node18,'18',"active",'17');
        addMarker(node19,'19',"active",'18');
        addMarker(node20,'20',"active",'16');

        addNetwork(markers,1);
        // addNetwork(markers,2);

  //       function drawChart(marker) {

  //   // Create the data table.
  //   var data = new google.visualization.DataTable();
  //   data.addColumn('string', 'Topping');
  //   data.addColumn('number', 'Slices');
  //   data.addRows([
  //     ['Mushrooms', 3],
  //     ['Onions', 1],
  //     ['Olives', 1],
  //     ['Zucchini', 1],
  //     ['Pepperoni', 2]
  //   ]);

  //   // Set chart options
  //   var options = {'title':'Pizza sold @ '+
  //                          marker.getPosition().toString(),
  //                  'width':300,
  //                  'height':200};

  //   var node        = document.createElement('div'),
  //       infoWindow  = new google.maps.InfoWindow(),
  //       chart       = new google.visualization.PieChart(node);

  //       chart.draw(data, options);
  //       infoWindow.setContent(node);
  //       infoWindow.open(marker.getMap(),marker);
  // }
  function convertTime(timestamp_string){
    var timestamp = parseInt(timestamp_string);
    var date = new Date(timestamp);
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();
    var hours = date.getHours();
    var minutes = "0" + date.getMinutes();
    var seconds = "0" + date.getSeconds();
    var formattedTime = year + '/' + month + '/' + day + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
    return formattedTime;
  }
  function findLineByLeastSquares(values_x, values_y) {
    var sum_x = 0;
    var sum_y = 0;
    var sum_xy = 0;
    var sum_xx = 0;
    var count = 0;

    /*
     * We'll use those variables for faster read/write access.
     */
    var x = 0;
    var y = 0;
    var values_length = values_x != null ? values_x.length : 0;

    // if (values_length != values_y.length) {
    //     throw new Error('The parameters values_x and values_y need to have same size!');
    // }

    /*
     * Nothing to do.
     */
    if (values_length === 0) {
        return [ [], [] ];
    }

    /*
     * Calculate the sum for each of the parts necessary.
     */
    for (var v = 0; v < values_length; v++) {
        x = values_x[v];
        y = values_y[v];
        sum_x += x;
        sum_y += y;
        sum_xx += x*x;
        sum_xy += x*y;
        count++;
    }

    /*
     * Calculate m and b for the formular:
     * y = x * m + b
     */
    var m = (count*sum_xy - sum_x*sum_y) / (count*sum_xx - sum_x*sum_x);
    var b = (sum_y/count) - (m*sum_x)/count;

    /*
     * We will make the x and y result line now
     */
    var result_values_x = [];
    var result_values_y = [];

    for (var v = 0; v < values_length; v++) {
        x = values_x[v];
        y = x * m + b;
        result_values_x.push(x);
        result_values_y.push(y);
    }

    return [result_values_x, result_values_y];
}
  function getCustomInfo(marker){
    return marker.customInfo;
  }
  function getCustomInfoTime(marker){
    return marker.customInfoTime;
  }
  function getMarker(id){
    return markers[parseInt(id)];
  }
  function generateRandom(){
    return Math.random() * (0.06 - 0.00) + 0.00;
  }
  function calcMid(marker){
    var parent_id = marker.parentInfo;
    var parent_marker = getMarker(parent_id);
    if(parent_marker){
        var x = (marker.getPosition().lat() + parent_marker.getPosition().lat())/2;
        var y = (marker.getPosition().lng() + parent_marker.getPosition().lng())/2;
        var midpoint = new google.maps.LatLng(x, y);
        return midpoint;
    }
  }
  function calcDistance(marker1,marker2){
    var x = marker1.getPosition().lat() - marker2.getPosition().lat();
    var y = marker1.getPosition().lng() - marker2.getPosition().lng();
    var distance = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2));
    return distance;
  }
  function getParent(marker){
    var parent_id = marker.parentInfo;
    var parent_marker = getMarker(parent_id);
    return parent_marker;
  }
  function markRegion(){
    // var cluster = [];
    while(markers.length > 0){
        current_marker = markers.pop();
        if(current_marker && current_marker.isCritical==1){
            var cluster = [];
            cluster.push(current_marker.getPosition());
            // markers.shift();
            while(getParent(current_marker) && getParent(current_marker).isCritical==1){
                var first_marker = current_marker;
                current_marker = getParent(current_marker);
                var second_marker = current_marker;
                cluster.push(current_marker.getPosition());
                // markers.splice(current_marker,1);
            }
            if(cluster.length > 2){
                var shape = new google.maps.Polygon({
                    paths: cluster,
                    strokeColor: ' #FF5733 ',
                    strokeOpacity: 0,
                    strokeWeight: 0,
                    fillColor: ' #FF5733 ',
                    fillOpacity: 0.35
                });
                shape.setMap(map);
            }
            else if(cluster.length == 2){
                var cityCircle = new google.maps.Circle({
                strokeColor: '#FF5733',
                strokeOpacity: 0,
                strokeWeight: 0,
                fillColor: '#FF5733',
                fillOpacity: 0.35,
                map: map,
                center: calcMid(first_marker),
                radius: calcDistance(first_marker,second_marker)/2*100000+4
          });

            }
        }
    }
  }
  function drawAdditionalHAxis(chart,dataTable){
    var layout = chart.getChartLayoutInterface();
    var chartArea = layout.getChartAreaBoundingBox();

    var svg = chart.getContainer().getElementsByTagName('svg')[0];
    var lastVal = 0.05;
    // var lastVal_temp = 0.1;
    var yLoc = layout.getYLocation(lastVal);
    svg.appendChild(createLine(chartArea.left,yLoc,chartArea.width + chartArea.left,yLoc,'#FF0000',3,2)); // axis line
    svg.appendChild(createText(chartArea.width + chartArea.left + 20 ,yLoc + 5,'Arial','13','red',lastVal)); // axis label 
}
function createLine(x1, y1, x2, y2, color, w, dash) {
    var line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    line.setAttribute('x1', x1);
    line.setAttribute('y1', y1);
    line.setAttribute('x2', x2);
    line.setAttribute('y2', y2);
    line.setAttribute('stroke', color);
    line.setAttribute('stroke-width', w);
    line.setAttribute('stroke-dasharray', dash);
    return line;
}

function createText(x, y, fontFamily, fontSize,fontColor,value) {
    var text = document.createElementNS('http://www.w3.org/2000/svg', 'text');
    text.setAttribute('x', x);
    text.setAttribute('y', y);
    text.setAttribute('font-family', fontFamily);
    text.setAttribute('font-size', fontSize);
    text.setAttribute('fill', fontColor);
    text.innerHTML = value;
    return text;
}

function createInfoWindow(poly, content) {  
    google.maps.event.addListener(poly, 'click', function(event) {
        infowindow.setContent(content);
        infowindow.setPosition(event.latLng);
        infowindow.open(map);
    });
}



  function drawChart(marker,current,predict,fault_pbb) {
        // var data = google.visualization.arrayToDataTable([
        //   ['Time', 'PER'],
        //   ['7/13',  parseFloat(getCustomInfo(marker)[0])],
        //   ['7/14',  parseFloat(getCustomInfo(marker)[1])],
        //   ['7/15',  parseFloat(getCustomInfo(marker)[2])],
        //   ['7/16',  parseFloat(getCustomInfo(marker)[3])],
        //   ['7/17',  parseFloat(getCustomInfo(marker)[4])],
        //   ['7/18',  parseFloat(getCustomInfo(marker)[5])]
        // ]);
        var node_id = parseInt(marker.label);
        var node_data = getCustomInfo(marker);
        var node_time = getCustomInfoTime(marker);
        // alert(node_data.length);
        var data = new google.visualization.DataTable();
        data.addColumn('string','TIME');
        data.addColumn('number','PER');
        for(var i=0;i<node_data.length;i++){
            // data.addRow([new Date(parseInt(node_time[i])).toString(), parseFloat(node_data[i])]);
            // data.addRow(['123', 0.001]);
            data.addRow([convertTime(node_time[i]), parseFloat(node_data[i])]);
        }

        var options = {
          title: 'PER'+'\n'+'current: '+(parseFloat(current)*100).toFixed(2)+'%'+'\xa0\xa0'+'predicted: '+(parseFloat(predict)*100).toFixed(2)+'%'+'\xa0\xa0'+'fault probability: '+(fault_pbb*100).toFixed(2)+'%',
          // subtitle: 'hello',
          // curveType: 'function',
          legend: { position: 'none' },
          // legend: 
        };

        var node = document.createElement('div'),
        // infowindow  = new google.maps.InfoWindow(),
        chart       = new google.visualization.LineChart(node);

        chart.draw(data, options);
        drawAdditionalHAxis(chart, data);
        infowindow.setContent(node);
        infowindow.open(marker.getMap(),marker);
        // google.maps.event.addListener(marker.getMap(), 'click', function() {
        //     infoWindow.close();
        // });
      }

      function drawGaugeChart(data) {

        // var data = google.visualization.arrayToDataTable([
        //   ['Label', 'Value'],
        //   ['Memory', 80],
        //   ['CPU', 55],
        //   ['Network', 68]
        // ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }

      function getSum(total, num) {
        return total + num;
      }

      // var sum_network = 0;
      function addNetwork(markers,label){
        // var sum_network = 0;
        // var network_data = [];
        // for(var i=0;i<markers.length;i++){
        //     if(markers[i]){
        //         var sum_node = markers[i].customInfo.reduce(getSum);
        //         sum_network += sum_node;
        //     }
        // }
        // alert(sum_network);
        var avg_network = sum_network / markers.length;
        var sidebar = $('#demo');
        var sidebar_entry = $('<li/>', {
            'html': '<a href="#demo" class="btn btn-link" data-toggle="collapse">Network '+label
            +'<ul style="padding-left: 5px">Num. Nodes: '+(markers.length - 1 )+'</ul>'
            +'<ul style="padding-left: 5px">Avg. PER: '+avg_network.toFixed(6)+'</ul>'
            +'<ul style="padding-left: 5px">Avg. RSSI: '+generateRandom().toFixed(6)+'</ul>'
            // +'<ul>Num. Parent Change: '+(Math.round(Math.random()*5) + 0)+'</ul>'
            // +'<ul>Num. Reconnection: '+(Math.round(Math.random()*5) + 0)+'</ul>'
            +'<ul style="padding-left: 5px">Energy status: '+'<meter min="0" low="0.2" high="0.5" optimum="1.0" max="1.0" value="'+(Math.random() * (0.8 - 0.1) + 0.1)+'">'+'</meter>'+'</ul>'
            // +'<ul>Stability status: '+(Math.round(Math.random()*100) + 0)+'%'+'</ul>'
            // +'<ul>Performance status: '+(Math.round(Math.random()*100) + 0)+'%'+'</ul>'
            // +'<ul>Security status: '+(Math.round(Math.random()*100) + 0)+'%'+'</ul>',
            +'<ul style="padding-left: 5px">Stability status: '+'<meter min="0" low="0.2" high="0.5" optimum="1.0" max="1.0" value="'+(Math.random() * (0.8 - 0.1) + 0.1)+'">'+'</meter>'+'</ul>'
            // +'<ul style="padding-left: 5px">Performance status: '+'<meter min="0" low="0.2" high="0.5" optimum="1.0" max="1.0" value="'+(Math.random() * (0.8 - 0.1) + 0.1)+'">'+'</meter>'+'</ul>'
            +'<ul style="padding-left: 5px">Security status: '+'<meter min="0" low="0.2" high="0.5" optimum="1.0" max="1.0" value="'+(Math.random() * (0.8 - 0.1) + 0.1)+'">'+'</meter>'+'</ul>',
            //  'click': function() {
            //     // $(this).css('color', 'red');
            //     drawGaugeChart(this);
            // },
            // jQuery(this).attr("id","newId"),
            // 'click': function() {
            //     google.maps.event.trigger(marker, 'click');
            //     $(this).css('color','red');
            //     // $(this).attr("id","newid");
            // },
            // 'mouseenter': function() {
            //     $(this).css('color', 'red');
            // },
            // 'mouseleave': function() {
            //     $(this).css('color', '#999999');
            // },
            // 'focus': function() {
            //     $(this).css('color', '#999999');
            // },
            // function() {
            //     $(this).attr("id","newid"+label);
            //     // alert($(this).attr('id'));
            //     // alert($(this).attr('id'));
            // }
        }).insertBefore(sidebar);
        // insertBefore( ".network1" );
      }

      
      function addMarker(location,label,active,parent){
        // var array = [generateRandom(),generateRandom(),generateRandom(),generateRandom(),generateRandom(),generateRandom()];
        // alert(data_test[0][1]);
        // var array = [data_test[100][1],data_test[101][1],data_test[102][1],data_test[103][1],data_test[104][1],data_test[105][1]];
        var node_id = parseInt(label);
        if(data_test[node_id]){
            var node_data_length = data_test[node_id].length;
            var array = [];
            var array_time = [];
            var array_x = [];
            var array_y = [];
            for(var i=0;i<node_data_length;i++){
                array[i] = data_test[node_id][i][1];
                array_time[i] = data_test[node_id][i][0];

                array_x.push(parseInt(array_time[i]));
                array_y.push(parseFloat(array[i]));
            }
            var current = array[array.length-1];
            var result = findLineByLeastSquares(array_x, array_y);
            var predict_y = result[1][0];
            // var fault_pbb_temp = 1/((0.05-parseFloat(current))/(parseFloat(predict_y)-parseFloat(current)));
            if(parseFloat(current) > 0.05 || parseFloat(predict_y) > 0.05){
                var fault_pbb = 1;
            }else if(parseFloat(current) < 0.05 && parseFloat(current) > parseFloat(predict_y)){
                var fault_pbb = 0;
            }else{
                var fault_pbb = 1/((0.05-parseFloat(current))/(parseFloat(predict_y)-parseFloat(current)));
            }
        }else{
            var array = ['0'];
            var array_time = ['0'];
            var current = ['0'];
            var predict_y = ['0'];
        }
        // alert(data_test);
        var sum = 0;
        for(var i=0;i<array.length;i++){
            sum += parseFloat(array[i]);
        }
        // sum_network += sum;
        var avg = sum / array.length;
        sum_network += avg;

        /** analysis **/
        // var timeseries = require("timeseries-analysis");
        // var t     = new timeseries.main(timeseries.adapter.fromArray(data));
        // t.ma().lwma();
        // var processed = t.ma().output();
        // var chart_url = t.ma({period: 14}).chart();
        // var min = t.min();
        // var max = t.max(); 
        // var mean = t.mean();
        // var stdev = t.stdev();
        // var forecastDatapoint   = 7;   
        // var coeffs = t.ARMaxEntropy({
        //     data:   t.data.slice(0,6)
        // });
        // console.log(coeffs);
        // var forecast    = 0;    // Init the value at 0.
        // for (var i=0;i<coeffs.length;i++) { // Loop through the coefficients
        //     forecast -= t.data[6-i][1]*coeffs[i];
        // }
        // console.log("forecast",forecast);
        /**************/

        var marker = new google.maps.Marker({
            map: map,
            icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 15,
            strokeWeight:2,
            fillColor: '#008000',
            fillOpacity: 1.0
            },
            position: location,
            label: label,
            id: label,
            status: active,
            customInfo: array,
            customInfoTime: array_time,
            parentInfo: parent,
            isCritical: 0,
            batteryInfo: Math.random() * (0.8 - 0.1) + 0.1
        });
        markers[parseInt(label)] = marker;
        // $('#side_bar').append("<li>node" + label + "</li>");
        var sidebar = $('#demo');
        var sidebar_entry = $('<li/>', {
            'html': '<a href="#">Node '+label
            +'<ul>Parent: '+parent+'</ul>'
            +'<ul>Avg. PER: '+avg.toFixed(6)+'</ul>'
            +'<ul>Avg. RSSI: '+generateRandom().toFixed(6)+'</ul>'
            +'<ul>Num. Parent Change: '+(Math.round(Math.random()*5) + 0)+'</ul>'
            +'<ul>Num. Reconnection: '+(Math.round(Math.random()*5) + 0)+'</ul>'
            +'<ul>Battey level: '+'<meter min="0" low="0.2" high="0.5" optimum="1.0" max="1.0" value="'+marker.batteryInfo+'">'+'</meter>'+'</ul>',
            // jQuery(this).attr("id","newId"),
            'click': function() {
                google.maps.event.trigger(marker, 'click');
                $(this).css('color','red');
                // $(this).attr("id","newid");
            },
            'mouseenter': function() {
                $(this).css('color', 'red');
            },
            'mouseleave': function() {
                $(this).css('color', '#999999');
            },
            'focus': function() {
                $(this).css('color', '#FF0000');
            },
            function() {
                $(this).attr("id","newid"+label);
                $(this).addClass('network1');
                // alert($(this).attr('id'));
                // alert($(this).attr('id'));
            }
        }).appendTo(sidebar);
        for(var i=0;i<array.length;i++){
            if(predict_y>0.05){  //orange: predicted packet loss
                // marker.setAnimation(google.maps.Animation.BOUNCE);
                marker.icon.fillColor = ' #FFA500 ';
                marker.isCritical = 1;
            }
            if(array[i]>0.05){ //red: packet loss already occured
                // marker.setAnimation(google.maps.Animation.BOUNCE);
                marker.icon.fillColor = ' #FF0000 ';
                marker.isCritical = 1;
            }
        }
        marker.addListener('click', function(){
            drawChart(this,current,predict_y,fault_pbb);
            var sidebar = document.getElementById("demo");;
            // sidebar.style.backgroundColor="#000000";
            // for(var i=0;i<markers.length;i++){
            //     if(markers[i]){
            //         var li = document.getElementById("newid"+i);
            //         li.style.backgroundColor="#000000";
            //     }
            // }
            var li = document.getElementById("newid"+label);
            // li.focus(function(){
            //     alert("yea");
            // });
            // li.focus();
            // li.style.backgroundColor="DarkBlue";
            var color = li.style.backgroundColor;
            li.style.backgroundColor = "DarkBlue";
            setTimeout(function(){
                li.style.backgroundColor=color;
            }, 2000);

            li.scrollIntoView();
            // li.animate({backgroundColor:'#FF0000'},1000);
            // li.style.borderColor = "white";
            // alert(getCustomInfo(this));
        });
        // marker.addListener('click', function() {
        //     infowindow.open(map, marker);
        // });

        var link_info = generateRandom();
        if(marker.parentInfo != '0'){
            var parentMarker = markers[parseInt(marker.parentInfo)];
            // var lat = parentMarker.getPosition().lat();
            // var lng = parentMarker.getPosition().lng();
            var path = [
            {lat: marker.getPosition().lat(), lng: marker.getPosition().lng()},
            {lat: parentMarker.getPosition().lat(), lng: parentMarker.getPosition().lng()}
            ];
            var link = new google.maps.Polyline({
            path: path,
            // geodesic: true,
            strokeColor: '#000080',
            strokeOpacity: 1.0,
            strokeWeight: 1 + link_info * 100,
            customInfo: link_info
        });
        if(link_info > 0.04){
            link.strokeColor = '#800000';
        }
        createInfoWindow(link, "Link traffic : " + link.customInfo);
        link.setMap(map);
        }
      }
      var legend = document.getElementById('legend');
        for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.fillText("low",5,12);
        ctx.fillText("high",125,12);
        ctx.fillText("Noisy zone (PER)",30,35);
        var grd = ctx.createLinearGradient(0, 0, 170, 0);
        grd.addColorStop(0, "white");
        grd.addColorStop(1, " #ff5733");
        ctx.fillStyle = grd;
        ctx.fillRect(2, 15, 150, 10);

        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
        markRegion();
  }

  google.load('visualization', '1.0', {'packages':['corechart']});

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpPgcU1vPIge5zzD50cfVkL7DVpIVKac0&callback=initMap">
    </script>



</body>

</html>
